@model IEnumerable<Async_Inn.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<body>
    <h2>Room</h2>

    <div><a class="button" asp-action="Create">Create New</a></div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Layout)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Layout)
                    </td>
                    <td>
                        <a class="links" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="links" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a class="links" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>