@model IEnumerable<Async_Inn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room Amenities</title>
    <link href="~/reset.css" rel="stylesheet">
    <link href="~/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Neuton|Noto+Serif|Source+Serif+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Room Amenities</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>