@model IEnumerable<Async_Inn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<body>
    <h2>Room Amenities</h2>

    <div><a class="button" asp-action="Create">Create New</a></div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>